openapi: 3.0.0
info:
  title: 'Tasks CRUD'
  version: 0.0.1
  description: 'Tasks CRUD'
servers:
  - url: http://127.0.0.1:5173
components:
  parameters:
    TaskId:
      name: id
      in: path
      required: true
      schema:
        type: string
        example: '3131_dd23'
    StatusQuery:
      name: status
      in: query
      required: false
      schema:
        type: string
        enum: ['new', 'in_progress', 'done']
        example: 'new'
    LimitQuery:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: null
        example: 10
    CursorQuery:
      name: cursor_query
      in: query
      schema:
        type: string
        example: '21310_d322'
    IdempotencyKeyHeader:
      name: idempotency-key
      in: header
      required: false
      schema:
        type: string
        format: uuid
        example: '31301_Dwdwdw'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  headers:
    Location:
      description: 'URL of created task'
      schema:
        type: string
        format: uri
      example: /tasks/49214
    WWW_Authenticate:
      description: 'Authenticate'
      schema:
        type: string
      example: Bearer
    Access-Control-Allow-Origin:
      description: 'Allowed origin'
      schema:
        type: string
      example: http://127.0.0.1:5173
    Access-Control-Allow-Headers:
      description: 'Allowed headers'
      schema:
        type: string
      example: 'Content-Type, Authorization, Idempotency-Key'
    Access-Control-Allow-Methods:
      description: 'Allowed methods'
      schema:
        type: string
      example: 'GET, POST, PATCH, DELETE, OPTIONS'
    Content-Type:
      description: 'Allowed content type'
      schema:
        type: string
      example: 'application/json'
  schemas:
    TaskEdit:
      type: object
      minProperties: 1
      description: 'Task object to edit task'
      properties:
        title:
          type: string
          description: 'Tasks title field'
          example: 'Task title'
        description:
          type: string
          description: 'Tasks additional description field'
          example: 'About tasks data'
        status:
          type: string
          description: 'Current task status'
          enum: [ 'new', 'in_progress', 'done' ]
          default: 'new'
          example: 'done'
    TaskCreate:
      type: object
      description: 'Task object to create task'
      properties:
        title:
          type: string
          description: 'Tasks title field'
          example: 'Task title'
        description:
          type: string
          description: 'Tasks additional description field'
          example: 'About tasks data'
        status:
          type: string
          description: 'Current task status'
          enum: [ 'new', 'in_progress', 'done' ]
          default: 'new'
          example: 'done'
      required:
        - title
        - status
    Task:
      type: object
      description: 'Task object'
      properties:
        id:
          type: integer
          description: 'Unique id'
          example: 123
        title:
          type: string
          description: 'Tasks title field'
          example: 'Task title'
        description:
          type: string
          description: 'Tasks additional description field'
          example: 'About tasks data'
        status:
          type: string
          description: 'Current task status'
          enum: ['new', 'in_progress', 'done']
          default: 'new'
          example: 'done'
        created_at:
          type: string
          format: date-time
          description: 'Date of creating task on server'
          example: '2026-02-25T10:28:50+00:00'
      required:
        - title
        - status
    TaskList:
      type: object
      description: 'Tasks list'
      properties:
        items:
          type: array
          description: 'Tasks list'
          items:
            $ref: '#/components/schemas/Task'
        nextCursor:
          type: string
          nullable: true
          description: 'Cursor for pagination'
          example: '13r1_Fwefw'
    UnauthorizedError:
      type: object
      description: 'Unauthorized error. No authenticate header'
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: 'Unauthorized'
    ForbiddenError:
      type: object
      description: 'Access Error. Wrong Token'
      properties:
        code:
          type: integer
          example: 403
    ConflictError:
      type: object
      description: Error idempotency
      properties:
        code:
          type: integer
          example: 409
    ValidationError:
      type: object
      description: 'Error validation'
      properties:
        code:
          type: integer
          example: 422
    NotFoundError:
      type: object
      description: 'Resource not found'
      properties:
        code:
          type: integer
          example: 404
  responses:
    UnauthorizedResponse:
      description: 'Header authorization do not exist'
      headers:
        WWW_Authenticate:
          $ref: '#/components/headers/WWW_Authenticate'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    ValidationErrorResponse:
      description: 'Validation error'
      headers:
        WWW_Authenticate:
          $ref: '#/components/headers/WWW_Authenticate'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    ForbiddenResponse:
      description: 'Error authenticate token'
      headers:
        WWW_Authenticate:
          $ref: '#/components/headers/WWW_Authenticate'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    ConflictResponse:
      description: 'Idempotency conflict'
      headers:
        WWW_Authenticate:
          $ref: '#/components/headers/WWW_Authenticate'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConflictError'
    TaskResponse:
      description: 'Success task value'
      headers:
        WWW_Authenticate:
          $ref: '#/components/headers/WWW_Authenticate'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Task'
    TaskListResponse:
      description: 'Tasks list success found'
      headers:
        WWW_Authenticate:
          $ref: '#/components/headers/WWW_Authenticate'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskList'
    NotFoundResponse:
      description: 'Not found'
      headers:
        WWW_Authenticate:
          $ref: '#/components/headers/WWW_Authenticate'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
tags:
  - name: Task
paths:
  /tasks:
    options:
      summary: Preflight CORS request
      tags:
        - Task
      responses: 
        '204':
          description: 'CORS preflight success'
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
    post:
      summary: Creating new task
      tags:
        - Task
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreate'
      responses:
        '201':
          description: 'Task successfully created'
          headers:
            Location:
              $ref: '#/components/headers/Location'
            WWW_Authenticate:
              $ref: '#/components/headers/WWW_Authenticate'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
    get:
      summary: 'Get tasks list'
      tags:
        - Task
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/StatusQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
      responses:
        '200':
          $ref: '#/components/responses/TaskListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
  /tasks/{id}:
    get:
      summary: 'Get task by unique id'
      tags:
        - Task
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          $ref: '#/components/responses/TaskResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
    patch:
      summary: 'Edit task by unique id'
      tags:
        - Task
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TaskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskEdit'
      responses:
        '200':
          $ref: '#/components/responses/TaskResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
    delete:
      summary: 'Delete task by id'
      tags:
        - Task
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TaskId'
      responses:
        '204': 
          description: "No content"
          content:
            {}
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'


        

          

